aniso8601==3.0.2
appnope==0.1.0
attrdict==2.0.1
attrs==19.3.0
backcall==0.1.0
base58==1.0.3
certifi==2019.3.9
chardet==3.0.4
cytoolz==0.10.1
decorator==4.4.0
Django==2.2.7
django-cors-headers==3.2.1
django-redis==4.10.0
eth-abi==2.1.0
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.8.4
gevent==1.4.0
googleapis-common-protos==1.5.9
graphene==2.1.8
graphene-django==2.2.0
graphql-core==2.2.1
graphql-relay==2.0.1
greenlet==0.4.15
gunicorn==19.9.0
hexbytes==0.2.0
idna==2.8
importlib-metadata==1.3.0
ipfshttpclient==0.4.12
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
jsonschema==3.2.0
lru-dict==1.1.6
mock==2.0.0
more-itertools==8.0.2
multiaddr==0.0.9
Naked==0.1.31
netaddr==0.7.19
parsimonious==0.8.1
parso==0.3.4
pbr==5.1.3
pexpect==4.6.0
phonenumbers==8.10.8
pickleshare==0.7.5
poeditor==1.1.2
promise==2.3
prompt-toolkit==2.0.9
psycogreen==1.0.1
psycopg2==2.7.7
psycopg2-binary==2.8.3
ptyprocess==0.6.0
pycoin==0.80
pycryptodome==3.9.0
Pygments==2.3.1
PyJWT==1.7.1
pyrsistent==0.15.7
python-bitcoinlib==0.10.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.3.1
raven==6.10.0
redis==3.2.1
requests==2.21.0
rlp==1.2.0
Rx==1.6.1
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
toolz==0.10.0
traitlets==4.3.2
urllib3==1.24.1
varint==1.0.2
wcwidth==0.1.7
web3==5.2.1
websockets==9.1
zipp==0.6.0
git+https://github.com/RyanKung/apm-agent-python.git
git+https://phabricator.haobtc.com/source/bixin-grpc.git#subdirectory=python
